* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f0f8ff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  margin-left: 20px;
  font-size: 50px;
}
img {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 60px;
}
header nav ul li {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
header nav ul li a {
  padding: 10px 20px;
  color: #000000;
  text-transform: capitalize;
}
.aboutme {
  height: 40em;
  margin-top: 20px;
}
.top-content,
.bottom-content {
  display: flex;
  height: 25em;
}
.about-text-01 {
  height: 25em;
  width: 800px;
  margin-right: 20px;
}
.about-image-01 {
  height: 25em;
  width: 800px;
  float: right;
}
.about-text-01 h1 {
  padding: 5px 20px;
}
.about-text-01 p {
  padding-left: 40px;
}
.about-text-01 span {
  color: #f35208;
}
.text-content {
  margin-top: 60px;
  margin-left: 20px;
}
.about-btn {
  padding: 20px 60px;
}
.about-text-01 a {
  background-color: #f35208;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.about-image-01 {
  margin-top: 20px;
}
.about-image-01 img {
  width: 400px;
  height: 400px;
  padding-left: 150px;
}
.about-image-02 img {
  width: 400px;
  height: 400px;
  padding-left: 60px;
}
.bottom-content {
  margin-top: 20px;
}
.about-text-02 h1 {
  text-align: center;
  padding-top: 80px;
  padding-left: 30x;
}
.about-text-02 p {
  font-size: 18px;
  padding-top: 15px;
  padding-left: 315px;
}
.about-image-02 .about-btn {
  text-align: center;
}
.about-text-02 .about-btn {
  padding-left: 315px;
  padding-top: 50px;
}
.about-text-02 .about-btn a {
  background-color: #f35208;
  padding: 20px 40px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.projects {
  background-color: #d8e4ee;
  margin-top: 250px;
}
.projects-text h1 {
  text-align: center;
  padding: 80px 20px;
}
.projects-text span {
  color: #f35208;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 60px;
}
.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.card h2 {
  font-size: 18px;
}
.card p {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #7a7a7a;
}
.work {
  display: flex;
  align-items: center;
  height: 20em;
}
.inquiry-content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  margin-top: 20px;
  margin-left: 250px;
  background: url(images/background-inquiry.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.inquiry-text h1 {
  color: #fff;
}
.inquiry-content .inquiry-btn a {
  padding: 10px 20px;
  background-color: #f35208;
  color: #fff;
  border-radius: 5px;
}
.stay-connected {
  text-align: center;
}
.stay-connected h2 {
  color: #7a7a7a;
}
.stay-connected h1 {
  font-size: 40px;
  font-weight: 700;
}
.social-media img {
  width: 40px;
  height: 40px;
}
.social-media ul li {
  text-align: center;
  display: inline-block;
  padding: 25px 5px;
}
footer {
  text-align: center;
  padding: 30px 20px;
  font-size: 20px;
}
